body {
    font-family: century-gothic, sans-serif;
    font-style: normal;
}

h2 {
    margin-left: 15px;
}

.row {
    --bs-gutter-x: 0;
    margin-left: 10px;
    margin-right: 10px;
}

#roseLogoParent {
    height: 100%;
}

@media (max-width: 768px) {
    .needs-adjustment {
        margin-top: 20px;
    }
}