body {
    font-family: century-gothic, sans-serif;
    font-style: normal;
}

h2 {
    margin-left: 15px;
}

.row {
    --bs-gutter-x: 0;
    margin-left: 10px;
    margin-right: 10px;
}

#roseLogoParent {
    height: 100%;
}

@media (max-width: 768px) {
    .needs-adjustment {
        margin-top: 20px;
    }
}

@keyframes fadeDown {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#education {
    animation: fadeDown 1s ease forwards;
}

#work {
    opacity: 0;
    animation: fadeDown 1s ease forwards 1s;
}

#ec {
    opacity: 0;
    animation: fadeDown 1s ease forwards 2s;
}