#mainContent {
    text-align: center;
    font-family: century-gothic, sans-serif;
    font-style: normal;
    margin: 0;
    position: absolute;
    top: 33%;
    padding-left: 100px;
    padding-right: 100px;
} 

@media (max-width: 576px) {
    #mainContent {
        position: relative;
        top: 0%;
        margin-top: 90px;
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

@keyframes fadeDown {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#mainContent>h1 {
    animation: fadeDown 1s ease forwards;
}

#mainContent>h4 {
    opacity: 0;
    animation: fadeDown 1s ease forwards 1s;
}

#mainContent>h6 {
    opacity: 0;
    animation: fadeDown 1s ease forwards 3s;
}