#mainContent {
    text-align: center;
    font-family: century-gothic, sans-serif;
    font-style: normal;
    margin: 0;
    position: absolute;
    top: 33%;
    padding-left: 100px;
    padding-right: 100px;
} 

@media (max-width: 576px) {
    #mainContent {
        position: relative;
        top: 0%;
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }
}