body {
    font-family: century-gothic, sans-serif;
    font-style: normal;
}

.row {
    --bs-gutter-x: 0;
}

.col-md-6 {
    padding-left: 1.5%;
    padding-right: 1.5%;
}

.btn {
    margin-top: 5%;
    width: fit-content;
    padding-left: -2px;
    padding-right: -2px;
}

@media (max-width: 768px) {
    .needs-adjustment {
        margin-top: 20px;
    }
}

@keyframes fadeDown {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#portfolio {
    animation: fadeDown 1s ease forwards;
}

#scavHunt {
    opacity: 0;
    animation: fadeDown 1s ease forwards 0.5s;
}

#kingOfTokyo {
    opacity: 0;
    animation: fadeDown 1s ease forwards 1s;
}

#database {
    opacity: 0;
    animation: fadeDown 1s ease forwards 1.5s;
}

#in211 {
    opacity: 0;
    animation: fadeDown 1s ease forwards 2s;
}

#CPU {
    opacity: 0;
    animation: fadeDown 1s ease forwards 2.5s;
}

#GARP {
    opacity: 0;
    animation: fadeDown 1s ease forwards 3s;
}

#tanks {
    opacity: 0;
    animation: fadeDown 1s ease forwards 3.5s;
}