body {
    font-family: century-gothic, sans-serif;
    font-style: normal;
}

.row {
    --bs-gutter-x: 0;
}

.col-sm-6 {
    padding-left: 1%;
    padding-right: 1%;
}

.btn {
    margin-top: 5%;
    width: fit-content;
    padding-left: -2px;
    padding-right: -2px;
}